body { margin: 0; }
.container * { box-sizing: border-box; }
.container { width: 100%; max-width: 90%; margin: auto; }

@media only screen and (max-width: 600px) {
    
}

.row {

}

.row:before, .row:after { content: ""; display: table; clear: both; }
[class*='column-'] { padding: 12px; }
.column-1 { min-width: 8.33%;} 
.column-2 { min-width: 16.66%;} 
.column-3 { min-width: 24.99%;} 
.column-4 { min-width: 33.32%;} 
.column-5 { min-width: 41.65%;} 
.column-6 { min-width: 49.98%;} 
.column-7 { min-width: 58.31%;} 
.column-8 { min-width: 66.64%;} 
.column-9 { min-width: 74.97%;} 
.column-10 { min-width: 83.3%;} 
.column-11 { min-width: 91.63%;} 
.column-12 { 
    min-width: 100%; float: none; 
}