body { margin: 0; }
.container * { box-sizing: border-box; }
.container { width: 100%; max-width: 90%; margin: auto; }

.row {

}

.row:before, .row:after { content: ""; display: table; clear: both; }
[class*='column-'] { padding: 12px; float: left; }

.column-1 { width: 8.33%; } 
.column-2 { width: 16.66%; } 
.column-3 { width: 24.99%; } 
.column-4 { width: 33.32%; } 
.column-5 { width: 41.65%; } 
.column-6 { width: 49.98%; } 
.column-7 { width: 58.31%; } 
.column-8 { width: 66.64%; } 
.column-9 { width: 74.97%; } 
.column-10 { width: 83.3%; } 
.column-11 { width: 91.63%; } 
.column-12 { width: 100%; }

@media only screen and (min-width: 500px) {
    .column-1-s { width: 8.33%; } 
    .column-2-s { width: 16.66%; } 
    .column-3-s { width: 24.99%; } 
    .column-4-s { width: 33.32%; } 
    .column-5-s { width: 41.65%; } 
    .column-6-s { width: 49.98%; } 
    .column-7-s { width: 58.31%; } 
    .column-8-s { width: 66.64%; } 
    .column-9-s { width: 74.97%; } 
    .column-10-s { width: 83.3%; } 
    .column-11-s { width: 91.63%; } 
    .column-12-s { width: 100%; }
}

@media only screen and (min-width: 640px) {
    .column-1-m { width: 8.33%; } 
    .column-2-m { width: 16.66%; } 
    .column-3-m { width: 24.99%; } 
    .column-4-m { width: 33.32%; } 
    .column-5-m { width: 41.65%; } 
    .column-6-m { width: 49.98%; } 
    .column-7-m { width: 58.31%; } 
    .column-8-m { width: 66.64%; } 
    .column-9-m { width: 74.97%; } 
    .column-10-m { width: 83.3%; } 
    .column-11-m { width: 91.63%; } 
    .column-12-m { width: 100%; }
}

@media only screen and (min-width: 1040px) {
    .column-1-l { width: 8.33%; } 
    .column-2-l { width: 16.66%; } 
    .column-3-l { width: 24.99%; } 
    .column-4-l { width: 33.32%; } 
    .column-5-l { width: 41.65%; } 
    .column-6-l { width: 49.98%; } 
    .column-7-l { width: 58.31%; } 
    .column-8-l { width: 66.64%; } 
    .column-9-l { width: 74.97%; } 
    .column-10-l { width: 83.3%; } 
    .column-11-l { width: 91.63%; } 
    .column-12-l { width: 100%; }
}