/*	  SETUP    */
* {
	box-sizing: border-box;
}

html, body {
	font-family: "Open Sans", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	height: 100%;
    font-weight: 100;
}

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

/*    DEFAULT    */
::-moz-selection { /* Code for Firefox */
	color: #0070CC;
	background: none;
}

::selection {
	color: #0070CC;
	background: none;
}

.content {
    margin-top: 50px;
}

h1 {
    font-weight: 100;
}

.title-wrapper {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
    padding-bottom: 50px;
}

.title {
	color: black;
	display: inline-block;
	padding: 0 2% 15px;
	border-bottom: 2px solid black;
	font-weight: bold;
}

h1.title::after {
	content: "";
	width: 50px;
	height: 15px;
	position: absolute;
	border-top: 1px dotted #3F3F3F;
	border-bottom: 2px solid #3F3F3F;
	bottom: 65px;
	left: 50%;
	margin-left: -25px;
}

.shadow {
    width: 100%;
    background: black;
    height: 100%;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
}

/*    PARALLAX    */
.parallax {
	/*    Require : background-image and height(%) inside element attribute    */
	background-attachment: fixed;
	background-color: #ffffff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#parallax-middle {
    position: relative;
}

.parallax-style {
	min-height: 250px;
	padding-bottom: 80px;
    position: relative;
}

.parallax-h1 {
	text-align: center;
	color: white;
	padding-top: 80px;
}

.parallax-title {
	font-size: 35pt;
    text-transform: uppercase;
    border-bottom: white dashed 2px;
    display: inline-block;
}

.parallax-des {
    margin-top: -40px;
}

@media only screen and (max-device-width: 1024px) {
	.parallax {
		background-attachment: scroll;
	}
}

/*    ANIM    */
.anim-loading {
	width: 20px;
	height: 20px;
	position: relative;
}

.anim-loading::before, .anim-loading::after {
	content: "";
	opacity: 0;
	width: 20px;
	height: 20px;
	background-color: red;
	position: absolute;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border-radius: 10px;
}

.anim-loading::after {
	animation-delay: .8s;
}

@keyframes anim1 {
	0%   {background-color:#009cff; left:50%; top:0%;opacity: 0;}
	25%  {background-color:#009cff; left:100%; top:50%;opacity: 1;}
	50%  {background-color:#009cff; left:50%; top:100%;}
	75%  {background-color:#00577a; left:0%; top:50%;}
	100% {background-color:#009cff; left:50%; top:0%;opacity: 0;}
}

/*    TABLE    */
table, td, th {
	border-collapse: collapse;
	border : none;
	padding: 10px;
}

table {
	width: 100%;
	overflow-x: auto;
	border: 1px solid #5f5f5f;
}

th {
	background-color: #5f5f5f;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #dbdbdb;
}

/*    MENU    */
#menu {
    width: 100%;
    position: fixed;
    z-index: 1;
    max-height: 85px;
}

.menu-inactive {
    background-color: rgba(255, 255, 255, 0);
    transition: .3s;
}

.menu-inactive  a, .menu-inactive  a:visited {
    color: white;
    transition: .3s;
}

.menu-inactive:hover a {
    color: black;
}

.menu-inactive .button a {
    border: white solid 1px;
}

.menu-inactive:hover .button a {
    border: black solid 1px;
}

.menu-inactive:hover .button a:hover {
    border: white solid 1px;
}

#menu:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.menu-active {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: black 0px 0px 20px -7px;
    transition: .3s;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    transition: .3s;
    margin: auto;
    padding: 0;
}

.logo-wrapper {
    width: 70px;
    height: 1px;
    float: left;
}

.logo-white, .logo-blue {
    display: block;
    float: left;
    margin-top: 15px;
    position: absolute;
    opacity: 1;
}

.logo-blue {
    opacity: 0;
}

.menu-inactive:hover .logo-blue {
    opacity: 1;
    transition: .3s;
}

.menu-active .logo-blue {
    opacity: 1;
    transition: .3s;
}

.signin {
    float: right;
}

.button {
    margin-top: 30px;
}

.button a {
    padding: 10px 25px;
    border: black solid 1px;
    border-radius: 50px;
    transition: .3s;
}

.button a:hover {    
    background: #009cff;
    border-color: #009cff;
    transition: .3s;
    color: white;
    text-decoration: none;
}

.button a:active {
    background: rgb(4, 86, 95);
    border-color: rgb(4, 86, 95);
    transition: 0s;
    color: white;
    text-decoration: none;
}

.menu-content {
    float: left;
    margin-left: 20px;
}

.menu-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.menu-content li {
    display: block;
    float: left;
    border-top: rgba(10, 212, 234, 0) solid 4px;
    transition: .3s;
}

.menu-content .menu-actived {
    border-top: rgb(10, 212, 234) solid 4px;
    transition: .3s;
}

.menu-content li a {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 27px;
    display: inline-block;
}

.menu-content li:hover {
    border-top: rgba(10, 212, 234, 1) solid 4px;
    transition: .3s;
}

.menu-wrapper a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { 
    text-decoration: underline; 
}

a:visited {
    color: black;
}

/*    HOME    */
.home-text {
    font-family: "century gothic";
}

.home-wrapper {
    background: url(../img/bg-home-3-update.jpg) no-repeat;
    height: 100%;
    background-color: black;
    box-shadow: #737171 0 0 35px 8px;
    color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content-wrapper {
    margin-top: 75px;
}

.home-content h1 {
    margin-top: -180px;
    font-size: 45pt;
    text-align: center;
    font-weight: 100;
    border-bottom: white dashed 2px;
}

.home-content h3 {
    margin-top: -37px;
    text-align: center;
    font-size: 15pt;
    font-weight: 100;
    border-top: white solid 1px;
    line-height: 38px;
}

.home-button {
    margin-top: 60px;
    text-align: center;
}

.home-button a {
    font-size: 17pt;
    padding: 20 35px;
    border: white solid 1px;
    color: white;
}

/*    INVITATION    */
.card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card .card-text {
    padding-left: 50px;
}

.card-img {
    border: grey dashed 2px;
    border-radius: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .4;
}

.load-button {
    text-align: center;
    margin-top: 50px;
}

input, textarea, select, button {
    font-family: "century gothic", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*      Footer      */
#footer {
    box-shadow: black 0 0 30px -7px;
}

.footer-content {
    position: relative;
}

.footer-content a {
	font-weight: bold;
	color: #000000;
}

.footer-content a:hover {
	color: #666666;
}

.footer-right {
	text-align: right;
}

.footer-left {
	float: left;
}

@media only screen and (max-width: 600px) {
    .home-wrapper {
        height: 600px;
    }

	.button a {
        padding: 10px 16px;
        font-size: 10pt;
    }

    .card .card-text {
        padding-left: 10px;
    }

    .title {
        font-size: 27px;
    }

    h1.title::after {
        bottom: 60px;
    }

    .card-text h1 {
        font-size: 20pt;
    }

    .card-text p {
        font-size: 12pt;
    }

    .parallax-des {
        margin-top: -22px;
        font-size: 16pt;
    }

    .parallax-title {
        font-size: 20pt;
    }

    .footer-right, .footer-left {
        float: none;
        text-align: left;
        font-size: 11pt;
    }

    .home-content h1 {
        font-size: 34pt;
    }

    .home-button a {
        padding: 15 30px;
        font-size: 14pt;
    }

    .menu-content {
        display: none;
    }

    .menu-wrapper {
        min-height: 80px;
    }
}